In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [4]:
ticker = ['TTML.BO','TCS.BO','TANLA.BO']

data = pd.DataFrame()

for t in ticker:
    data[t] = wb.DataReader(t, data_source = 'yahoo', start='2011-01-01')['Adj Close']

In [5]:
data

               TTML.BO       TCS.BO     TANLA.BO
Date
2011-01-03   16.844614   470.807465    21.361530
2011-01-04   17.013483   464.392273    21.409000
2011-01-05   16.717962   464.392273    20.886829
2011-01-06   16.464661   476.755585    20.412127
2011-01-07   16.084707   463.519287    19.984898
...                ...          ...          ...
2022-01-17  237.149994  4012.049561  1957.199951
2022-01-18  225.300003  3983.250000  1874.500000
2022-01-19  214.050003  3915.800049  1841.150024
2022-01-20  203.350006  3827.850098  1908.349976
2022-01-21  193.199997  3834.850098  1874.699951

[2726 rows x 3 columns]

In [6]:
 returns = np.log(data/data.shift(1))

In [7]:
returns

             TTML.BO    TCS.BO  TANLA.BO
Date
2011-01-03       NaN       NaN       NaN
2011-01-04  0.009975 -0.013720  0.002220
2011-01-05 -0.017522  0.000000 -0.024693
2011-01-06 -0.015267  0.026274 -0.022990
2011-01-07 -0.023347 -0.028156 -0.021152
...              ...       ...       ...
2022-01-17 -0.051167  0.012481 -0.051288
2022-01-18 -0.051260 -0.007204 -0.043173
2022-01-19 -0.051223 -0.017078 -0.017952
2022-01-20 -0.051281 -0.022716  0.035849
2022-01-21 -0.051203  0.001827 -0.017790

[2726 rows x 3 columns]

In [10]:
data['TTML.BO'].mean()

11.935701644866676

In [11]:
data['TTML.BO'].mean() * 250

2983.925411216669

In [12]:
data['TTML.BO'].std()

24.16227064374961

In [13]:
data['TTML.BO'].std() * 250 ** 0.5

382.0390433783582

In [14]:
data[['TTML.BO','TCS.BO','TANLA.BO']].std()

TTML.BO      24.162271
TCS.BO      853.959393
TANLA.BO    326.243537
dtype: float64

In [15]:
data[['TTML.BO','TCS.BO','TANLA.BO']].std() * 250 ** 0.5

TTML.BO       382.039043
TCS.BO      13502.283559
TANLA.BO     5158.363251
dtype: float64