In [18]:
import pandas as pd

In [30]:
data = {
    "Name":['Amy White', 'Jack Stewart', 'Richard Lauderdale', 'Sara Johnson'], 
    "Age":[50, 53, 35, 43], 
    "Working Experience (Yrs.)":[5,8,3,10]}

In [32]:
df = pd.DataFrame(data).shift()[1:]

In [33]:
# Print the data
print(df)

                 Name   Age  Working Experience (Yrs.)
1           Amy White  50.0                        5.0
2        Jack Stewart  53.0                        8.0
3  Richard Lauderdale  35.0                        3.0